<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">

  <!-- My font -->
  <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <link rel="shortcut icon" href="../assets/img/logo.png">

  <title> Portofolio Andrakembarr</title>
</head>

<body>

  <!-- Awal Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Andrakembarr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Portofolio</a>
          <a class="nav-item btn btn-primary tombol" href="#">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Akhir Navbar -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hallo People <span>Wellcome</span><br> to <span>Andrakembarr's</span> Portofolio</h1>
      <a href="" class="btn btn-primary tombol">Let's Go</a>
    </div>
  </div>
  <!-- Akhir Jumbotron -->


  <!-- Container -->
  <div class="container">

    <!-- Infi panel -->
    <div class="row justify-content-center">
      <div class="col-10 info-panel">
        <div class="row">
          <div class="col-lg">
            <img src="../assets/img/employee.png" alt="employee" class="float-left">
            <h4>24 HOURS</h4>
            <p>Menguasai Banyak Bahasa Program.</p>
          </div>
          <div class="col-lg">
            <img src="../assets/img/hires.png" alt="hires" class="float-left">
            <h4>Designer</h4>
            <p>Menguasai Desain Grafis.</p>
          </div>
          <div class="col-lg">
            <img src="../assets/img/security.png" alt="security" class="float-left">
            <h4>Security</h4>
            <p>Menguasai Security Sistem.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Akhir Ifo Panel -->

     <!-- About -->
    <div class="row workingspace">
      <div class="col-lg-6">
        <img src="../assets/img/workingspace.png" alt="workingspace" class="img-fluid">
      </div>
      <div class="col-lg-5">
        <h3>This Is <span>About</span> me</h3>
        <p>Saya adalah Mahasiswa D3 Manajemen Informatika POLINELA sekaligus Seorang Proggramer.
        </p>
        <p>Berikut Galery Saya
        </p>
        <a href="" class="btn btn-dark tombol">Gallery </a>
      </div>
    </div><br><br>
    <!-- AkhirAbout -->

 <!-- Portfolio -->
  <section id="portfolio" class="portfolio bg-light pb-4">
    <div class="container">
      <div class="row mb-4 pt-4">
        <div class="col text-center">
          <h2>Portfolio</h2>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/1.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/2.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/3.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/4.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/5.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="../assets/img/thumbs/6.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Testimonial -->
    <section class="testimonial">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h5>"Hoby saya adalah mencari hal-hal baru dan saya juga suka mengabadikan setiap moment kedalam sebuah Foto"</h5>
        </div>
      </div>

      <div class="row justify-content-center mt-5">

        <div class="col-lg-6 justify-content-center d-flex">
          <figure class="figure">
            <img src="../assets/img/img1.png" class="figure-img img-fluid rounded-circle" alt="Testi 1">
          </figure>
          <figure class="figure">
            <img src="../assets/img/img2.png" class="figure-img img-fluid rounded-circle utama" alt="Testi 2">
            <figcaption class="figure-caption">
              <h5>Andrakembarr</h5>
              <p>Proggramer</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="../assets/img/img3.png" class="figure-img img-fluid rounded-circle" alt="Testi 3">
          </figure>
        </div>
      </div>
    </section>
    <!-- Akhir Testimonial -->

  <!-- Form -->
  <section id="contact" class="contact mb-5">
    <div class="container">
      <div class="row pt-4 mb-4">
        <div class="col text-center">
          <h2>Contact Me</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card text-white bg-dark mb-3">
            <div class="card-body text-center">
              <h5 class="card-title">Contact Me</h5>
              <p class="card-text">Silahkan Memberi komentar dan keritik kepada saya.</p>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <h1>Location</h1>
            </li>
            <li class="list-group-item">My House</li>
            <li class="list-group-item">JL.Nusa Indah No 114</li>
            <li class="list-group-item">Bandar Lampung</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <form>
            <div class="form-group">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" id="nama">
            </div>
            <div class="form-group">
              <label for="email">e-Mail</label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="telp">No Telp</label>
              <input type="text" class="form-control" id="telp">
            </div>
            <div class="form-group">
              <label for="nama">Komentar</label>
              <textarea name="pesan" id="pesan" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-dark">Kirim Pesan</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

    <!-- Footer -->
    <div class="row footer">
      <div class="col text-center">
        <p>&copy;2022 All Right Reserved By Andrakembarr.</p>
      </div>
    </div>
    <!-- Akhir Footer -->

  </div>
  <!-- akhir container -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/popper.min.js"></script>
</body>
</html>